.my_photo {
    width : 200px;
}

.linkedin {
    width : 30px;
    padding : 2px;
    background: white;
    transition : padding 500ms ease;
}

.instagram {
    width : 30px;
    position: relative;
    left : 10px;
    padding : 2px;
    background : white;
    transition : padding 500ms ease;
    

}

body {
    background-color: blueviolet;
}

h1 {
    font-family: 'Oswald', sans-serif;
    background-color: skyblue;
    color : royalblue;
}

p {
    font-family: 'Oswald', sans-serif;
    color : white;
    font-size : 20px ;
}

ul {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size : 20px;
}

.linkedin:hover {
    padding : 4px
}

.instagram:hover {
    padding : 4px;
}